body {
  font-family: garamond, serif;
  margin: 0;
  color: rgb(220 220 220 / 1);
  overflow-x: hidden;
} .transparent-header {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(50 50 50 / 0.4);
  color: white;
  z-index: 100;
  transition: background-color 0.5s ease;
} .transparent-header p {
  font-weight: bold;
  font-size: 22px;
  float:left;
  color: white;
  text-decoration: none;
  padding: 7px 20px;
  margin: 0;
  line-height: 1.5;
} .transparent-header a {
  font-weight: bold;
  font-size: 16px;
  float:right;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  line-height: 1.5;
  transition: color 0.4s ease;
  transition: background-color 0.4s ease;
} .transparent-header a:hover {
  background-color: #ddd;
  color: rgb(50 50 50 / 1);
} .transparent-header a.active {
  background-color: #4CAF50;
  color: white;
} .transparent-header.scrolled {
  background-color: rgb(50 50 50 / 1);
} .cover-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
} .cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
} .cover-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgb(50 50 50 / 0.8);
  padding: 30px 60px;
  z-index: 2;
} .cover-title .cover-name {
  font-size: clamp(50px, 5vw, 100px);
  margin: 0;
} .cover-title .cover-major {
  font-size: clamp(30px, 3vw, 50px);
  margin: 0;
} .home {
  position: relative;
  background-color: rgb(50 50 50 / 1);
  height: 1250px;
  width: 100%;
  margin: 0px;
  z-index: 10;
  display: block;
} .about-me-box {
  position: absolute;
  background-color: rgb(60, 60, 60);
  width: 44%;
  height: 500px;
  margin-top: 0px;
  translate: -100% -50%;
  top: 375px;
  left: 50%;
  z-index: 3;
  overflow: hidden;
} .about-me-image-box {
  position: absolute;
  background-color: rgb(200 200 200 / 1);
  width: 59%;
  height: 600px;
  margin-top: 0px;
  translate: 0% -50%;
  top: 375px;
  left: 35%;
  z-index: 2;
} .profile-image {
  object-fit: cover;
  object-position: left;
  width: 100%;
  height: 100%;
} .about-me-box h1 {
  padding: 5% 8%;
  padding-bottom: 0px;
  margin: 0;
  font-size: clamp(30px, 3vw, 80px);
} .about-me-box h2 {
  margin: 0;
  padding: 0px 8%;
  padding-top: -10px;
  font-size: clamp(20px, 1.8vw, 60px);
} .about-me-box p {
  padding: 0px 8%;
  font-size: clamp(15px, 1.6vw, 20px);
  overflow: hidden;
} .about-me-box .learn-more-button {
  position: absolute;
  bottom: 4%;
  left: 8%;
  font-size: 22px;
  background-color: rgb(96, 81, 75);
  color: white;
  padding: 3% 10%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
} .about-me-box .learn-more-button:hover {
  background-color: rgb(164, 141, 132);
} .more-from-me-container {
  position: absolute;
  left: 0;
  top: 750px;
  width: 100%;
  height: 500px;
  text-align: center;
} .more-from-me-container h1 {
  margin: 30px 0 0 0;
  font-size: 70px;
  letter-spacing: 10px;
} .more-from-me-container div {
  background: rgb(60 60 60 /1);
  position: absolute;
  height: 200px;
  width: 30%;
  top: 150px;
  text-align: center;
  padding: 10px 10px;
} .more-from-me-container .projects-box {
  left: 45%;
  translate: -100% 0;
} .more-from-me-container .papers-box {
  left: 55%;
} .more-from-me-container h2 {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
} .more-from-me-container p {
  padding: 0 30px;
  font-size: clamp(15px, 1.6vw, 20px);
  letter-spacing: 1px;
} .more-from-me-container a {
  color: rgb(139, 115, 91);
  letter-spacing: 1px;
  text-decoration: none;
  transition: letter-spacing 0.4s ease;
} .more-from-me-container a:hover {
  color: rgb(221, 208, 203);
  letter-spacing: 3px;
} .footer-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(30 30 30 / 1);
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
} .footer-container img {
  width: 100%;
  height: 100px;
  margin: 0;
  object-fit: cover;
  object-position: left;
} .footer-contact {
  position: absolute;
  top: 50%;
  height: 80px;
  translate: -50% -50%;
  left: 50%;
  margin: 0;
  padding: 0;
  align-content: center;
  background: rgb(139 115 91 / 0.75);
} .footer-contact p {
  font-size: 22px;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 0 10px;
  margin: 0;
} .footer-links {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  text-align: right;
} .footer-links a {
  font-weight: bold;
  position: relative;
  font-size: 32px;
  right: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
  line-height: 1;
  letter-spacing: 1px;
  color: rgb(139 115 91 / 0.75);
} .footer-links a:hover {
  color: rgb(110, 90, 69);
} .aboutPage {
  position: relative;
  background-color: rgb(50 50 50 / 1);
  height: 1500px;
  width: 100%;
  z-index: 10;
  z-index: 10;
} .aboutPage h1 {
  position: relative;
  padding-top: 30px;
  margin: 0;
  top: 40px;
  left: 5%;
  font-size: 70px;
  letter-spacing: 10px;
} .intro-text {
  position: absolute;
  border-radius: 15px;
  width: 55%;
  height: 700px;
  left: 5%;
  top: 175px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(60 60 60 / 1);
} .intro-text p {
  padding: 5px 20px;
  margin: 0;
  font-size: clamp(12px, 1.2vw, 30px);
} .tab {
  display: inline-block; 
  margin-left: 30px; 
} .intro-text p a {
  color: rgb(139, 115, 91);
} .intro-text p a:hover {
  color: rgb(221, 208, 203);
} .intro-image-container {
  position: absolute;
  width: 30%;
  height: 700px;
  right: 5%;
  top: 175px;
  background: rgb(60 60 60 / 1);
} .intro-image {
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
} .image-collage-container {
  position: absolute;
  width: 90%;
  height: 500px;
  left: 5%;
  top: 930px;
  overflow: hidden;
  text-align: center;
} .image-collage-container img {
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  width: 32%;
  height: 100%;
} .projectsPage {
  position: relative;
  background-color: rgb(50 50 50 / 1);
  height: 1875px;
  width: 100%;
  z-index: 10;
  z-index: 10;
} .projectsPage h1 {
  position: relative;
  padding-top: 30px;
  margin: 0;
  top: 40px;
  left: 5%;
  font-size: 70px;
  letter-spacing: 10px;
} .projects-text {
  position: absolute;
  border-radius: 15px;
  width: 30%;
  height: 500px;
  left: 5%;
  top: 175px;
  overflow: hidden;
  background: rgb(60 60 60 / 1);
} .projects-text h2 {
  padding: 5px 20px;
  margin: 0;
  letter-spacing: normal;
  font-size: clamp(22px, 2.2vw, 100px);
} .projects-text p {
  padding: 5px 20px;
  font-weight: normal;
  margin: 0;
  letter-spacing: normal;
  font-size: clamp(12px, 1.2vw, 100px);
} .projects-image-container {
  position: absolute;
  overflow: scroll;
  width: 55%;
  height: 500px;
  right: 5%;
  top: 175px;
  border-radius: 15px;
  background: rgb(60 60 60 / 1);
} .projects-image-container img {
  border-radius: 15px;
  object-fit: contain;
  object-position: center;
  width: 100%;
} .papersPage {
  position: relative;
  background-color: rgb(50 50 50 / 1);
  height: 4125px;
  width: 100%;
  margin: 0px;
  z-index: 10;
  position: relative;
  background-color: rgb(50 50 50 / 1);
  width: 100%;
  z-index: 10;
  z-index: 10;
} .papersPage h1 {
  position: relative;
  padding-top: 30px;
  margin: 0;
  top: 40px;
  left: 5%;
  font-size: 70px;
  letter-spacing: 10px;
} .papers-container {
  position: relative;
  border-radius: 15px;
  width: 90%;
  height: 500px;
  left: 5%;
  top: 5px;
  margin-top: 60px;
  overflow: hidden;
  background: rgb(50 50 50 / 1);
} .papers-text {
  float: left;
  width: 55%;
  height: 100%;
  border-radius: 15px;
  background: rgb(60 60 60 / 1);
} .papers-container h2 {
  padding: 5px 20px;
  padding-top: 20px;
  margin: 0;
  letter-spacing: normal;
  font-size: clamp(22px, 2.2vw, 100px);
} .papers-container p {
  padding: 5px 20px;
  font-weight: normal;
  margin: 0;
  letter-spacing: normal;
  font-size: clamp(12px, 1.2vw, 100px);
} .papers-container .open-in-new-tab {
  font-size: 25px;
  position: relative;
  top: 50px;
  left: 20px;
  background-color: rgb(96, 81, 75);
  color: white;
  padding: 3% 5%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
} .papers-container .open-in-new-tab:hover {
  background-color: rgb(164, 141, 132);
} .papers-pdf-container {
  width: 40%;
  height: 100%;
  float: right;
  top: 0;
} .papers-pdf-container embed {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: fill;
  object-position: top;
} .resumePage {
  position: relative;
  background-color: rgb(50 50 50 / 1);
  height: calc(125vw + 40px);
  width: 100%;
  margin: 0px;
  z-index: 10;
} .resume-container {
  position: relative;
  background-color: rgb(60 60 60 / 1);
  height: 101.25vw;
  width: 80%;
  left: 10%;
  top: 65px;
  border-radius: 15px;
  align-content: center;
  text-align: center;
} .resume-image {
  position: relative;
  border-radius: 15px;
  width: calc(8.5 * 8.5vw);
  height: calc(8.5 * 11vw);
} .resumePage h1 {
  position: relative;
  padding-top: 30px;
  margin: 0;
  top: 40px;
  left: 5%;
  font-size: 70px;
  letter-spacing: 10px;
}
